body {
  margin: 0 auto;

  background-color: #5f42f4;
}
h1{
  color: #fff;
  font-family: 'Pacifico', cursive;
}
p{
  font-family: 'Pacifico', cursive;
  color: #f47641;
}
i{
  color: #fff;
}
h2{
  color: #f47641;
  font-family: 'Pacifico', cursive;
}
.splash{
  background-color: #5f42f4;
}
#map-mobile{
  width: 85vw;
  height: 40vh;
}
